# Essential DataFrame Operations

>This notebook was created and executed by Raven-Alexa Dixon to showcase Pandas Essential DataFrame Operations.

In [28]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
movies = pd.read_csv('movie.csv')

In [29]:
movies

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4911,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
4912,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
4913,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
4914,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
4915,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

# Selecting Multiple DataFrame columns

In [30]:
#Here I have passed a list of my desired columns to the indexing operator to demostrate retreiving a subset of columns.
movie_actor_director = movies[['actor_1_name','actor_2_name','actor_3_name','director_name']]
movie_actor_director.head()

      actor_1_name      actor_2_name          actor_3_name      director_name
0      CCH Pounder  Joel David Moore             Wes Studi      James Cameron
1      Johnny Depp     Orlando Bloom        Jack Davenport     Gore Verbinski
2  Christoph Waltz      Rory Kinnear      Stephanie Sigman         Sam Mendes
3        Tom Hardy    Christian Bale  Joseph Gordon-Levitt  Christopher Nolan
4      Doug Walker        Rob Walker                   NaN        Doug Walker

**TIP:**

`Passing a long list inside the indexing operator might cause readability issues. To help with this, your column names to a list variable first.`

*Example:*
cols = ['actor_1_name,
        'actor_2_name', 
        'actor_3_name',
        'director_name']
        
         movie_actor_director = movies[cols]

**NOTE:
Using the index operation can return either a Series or a DataFrame. If we pass in a list with a single item, we will get back a DataFrame. If we pass in just a string with the column name, we will get a Series back. See below**

In [31]:
#List with a single item:
type(movies[['director_name']])

pandas.core.frame.DataFrame

In [32]:
#String with a column name:
type(movies['director_name'])

pandas.core.series.Series

**NOTE: We can also use .loc to pull out a column by name.**


**Important:
This index operation requires that we pass in a row selector first, so I will use a colon (:) to indicate a slice that selects all of the rows. This method can also return either a DataFrame or a Series.**

In [33]:
type(movies.loc[:,['director_name']])

pandas.core.frame.DataFrame

In [34]:
type(movies.loc[:,'director_name'])

pandas.core.series.Series

**BOTTOM LINE:**
`The DataFrame index operator is very flexible and capable of accepting a number of different objects. If a string is passed, it will return a single-dimensional Series. If a list is passed to the indexing operator, it returns a DataFrame of all the columns in the list in the specified order.`

---

# Selecting columns with methods

In [35]:
movies.dtypes.value_counts()

float64    13
object     12
int64       3
dtype: int64

In [36]:
#Select only the integer columns.
movies.select_dtypes(include='int').head()

   num_voted_users  cast_total_facebook_likes  movie_facebook_likes
0           886204                       4834                 33000
1           471220                      48350                     0
2           275868                      11700                 85000
3          1144337                     106759                164000
4                8                        143                     0

In [37]:
#To select all numeric columns
movies.select_dtypes(include='number').head()

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,723.0,178.0,0.0,855.0,1000.0,760505847.0,886204,4834,0.0,3054.0,237000000.0,2009.0,936.0,7.9,1.78,33000
1,302.0,169.0,563.0,1000.0,40000.0,309404152.0,471220,48350,0.0,1238.0,300000000.0,2007.0,5000.0,7.1,2.35,0
2,602.0,148.0,0.0,161.0,11000.0,200074175.0,275868,11700,1.0,994.0,245000000.0,2015.0,393.0,6.8,2.35,85000
3,813.0,164.0,22000.0,23000.0,27000.0,448130642.0,1144337,106759,0.0,2701.0,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,NaN,131.0,NaN,131.0,NaN,8,143,0.0,NaN,NaN,NaN,12.0,7.1,NaN,0

In [38]:
#To select both integer & string columns
movies.select_dtypes(include=['int', 'object']).head()

,color,director_name,actor_2_name,genres,actor_1_name,movie_title,num_voted_users,cast_total_facebook_likes,actor_3_name,plot_keywords,movie_imdb_link,language,country,content_rating,movie_facebook_likes
0,Color,James Cameron,Joel David Moore,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,4834,Wes Studi,avatar|future|marine|native|paraplegic,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,English,USA,PG-13,33000
1,Color,Gore Verbinski,Orlando Bloom,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,48350,Jack Davenport,goddess|marriage ceremony|marriage proposal|pi...,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,English,USA,PG-13,0
2,Color,Sam Mendes,Rory Kinnear,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868,11700,Stephanie Sigman,bomb|espionage|sequel|spy|terrorist,http://www.imdb.com/title/tt2379713/?ref_=fn_t...,English,UK,PG-13,85000
3,Color,Christopher Nolan,Christian Bale,Action|Thriller,Tom Hardy,The Dark Knight Rises,1144337,106759,Joseph Gordon-Levitt,deception|imprisonment|lawlessness|police offi...,http://www.imdb.com/title/tt1345836/?ref_=fn_t...,English,USA,PG-13,164000
4,NaN,Doug Walker,Rob Walker,Documentary,Doug Walker,Star Wars: Episode VII - The Force Awakens,8,143,NaN,NaN,http://www.imdb.com/title/tt5289954/?ref_=fn_t...,NaN,NaN,NaN,0

In [39]:
#To exclude floats
movies.select_dtypes(exclude=['float']).head()

,color,director_name,actor_2_name,genres,actor_1_name,movie_title,num_voted_users,cast_total_facebook_likes,actor_3_name,plot_keywords,movie_imdb_link,language,country,content_rating,movie_facebook_likes
0,Color,James Cameron,Joel David Moore,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,4834,Wes Studi,avatar|future|marine|native|paraplegic,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,English,USA,PG-13,33000
1,Color,Gore Verbinski,Orlando Bloom,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,48350,Jack Davenport,goddess|marriage ceremony|marriage proposal|pi...,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,English,USA,PG-13,0
2,Color,Sam Mendes,Rory Kinnear,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868,11700,Stephanie Sigman,bomb|espionage|sequel|spy|terrorist,http://www.imdb.com/title/tt2379713/?ref_=fn_t...,English,UK,PG-13,85000
3,Color,Christopher Nolan,Christian Bale,Action|Thriller,Tom Hardy,The Dark Knight Rises,1144337,106759,Joseph Gordon-Levitt,deception|imprisonment|lawlessness|police offi...,http://www.imdb.com/title/tt1345836/?ref_=fn_t...,English,USA,PG-13,164000
4,NaN,Doug Walker,Rob Walker,Documentary,Doug Walker,Star Wars: Episode VII - The Force Awakens,8,143,NaN,NaN,http://www.imdb.com/title/tt5289954/?ref_=fn_t...,NaN,NaN,NaN,0

In [40]:
#An alternative method to select columns is with the .filter() method. This is a flexible method that searches
#column names or index labels based on the parameter used. Below we use the 'like' parameter which checks for substrings in column names.
#to search for Facebook columns/columns that contain that string:
movies.filter(like='facebook').head()

,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,cast_total_facebook_likes,actor_2_facebook_likes,movie_facebook_likes
0,0.0,855.0,1000.0,4834,936.0,33000
1,563.0,1000.0,40000.0,48350,5000.0,0
2,0.0,161.0,11000.0,11700,393.0,85000
3,22000.0,23000.0,27000.0,106759,23000.0,164000
4,131.0,NaN,131.0,143,12.0,0

# Ordering column names
>A task to consider after initially importing a dataset as a DataFrame is to analyzing the order of the columns. We are used to reading languages from left to right, which impacts our interpretations of the data. It's easier to find and interpret information when column order is given consideration.

In [41]:
movies.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

`I've scanned the list of columns for similar categorical and continuous columns, I will now organize them sensibly into lists.`

`I will also shorten some of the column names for better readibility and quicker opertaion.`

In [44]:
#Shortening a few names.
col_map = {
    'director_name': 'director',
    'director_facebook_likes': 'director_fb',
    'actor_1_facebook_likes': 'actor_1_fb',
    'actor_2_facebook_likes': 'actor_2_fb',
    'actor_3_facebook_likes': 'actor_3_fb',
    'cast_total_facebook_likes': 'cast_total_fb',
    'movie_facebook_likes': 'movie_fb',
    'num_user_for_reviews': 'num_users',
    'num_critic_for_reviews': 'num_critic'
}

In [51]:
movies = movies.rename(columns=col_map)

In [52]:
#Combining columns into organized lists before I update the order.
cat_core = [
    'movie_title',
    'title_year',
    'content_rating',
    'genres'
]

cat_people = [
    'director',
    'actor_1_name',
    'actor_2_name',
    'actor_3_name'
]

cat_other = [
    'color',
    'country',
    'language',
    'plot_keywords',
    'movie_imdb_link'
]

cont_fb = [
    'director_fb',
    'actor_1_fb',
    'actor_2_fb',
    'actor_3_fb',
    'cast_total_fb',
    'movie_fb'
]

cont_finance = ['budget', 'gross']

cont_num_reviews = [
    'num_voted_users',
    'num_users',
    'num_critic'
]

cont_other = [
    'imdb_score',
    'duration',
    'aspect_ratio',
    'facenumber_in_poster'
]

In [53]:
#New column order.
new_col_order = (cat_core + cat_people + cat_other + cont_fb + cont_finance + cont_num_reviews + cont_other)

In [54]:
#updating colum order
set(movies.columns) == set(new_col_order)

True

In [55]:
#Apply this to the data frame. If I did not want to rewrite the variable I would have : movies[new_col_order].head()
movies = movies[new_col_order]

In [56]:
movies

,movie_title,title_year,content_rating,genres,director,actor_1_name,actor_2_name,actor_3_name,color,country,...,movie_fb,budget,gross,num_voted_users,num_users,num_critic,imdb_score,duration,aspect_ratio,facenumber_in_poster
0,Avatar,2009.0,PG-13,Action|Adventure|Fantasy|Sci-Fi,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Color,USA,...,33000,237000000.0,760505847.0,886204,3054.0,723.0,7.9,178.0,1.78,0.0
1,Pirates of the Caribbean: At World's End,2007.0,PG-13,Action|Adventure|Fantasy,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Color,USA,...,0,300000000.0,309404152.0,471220,1238.0,302.0,7.1,169.0,2.35,0.0
2,Spectre,2015.0,PG-13,Action|Adventure|Thriller,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Color,UK,...,85000,245000000.0,200074175.0,275868,994.0,602.0,6.8,148.0,2.35,1.0
3,The Dark Knight Rises,2012.0,PG-13,Action|Thriller,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Color,USA,...,164000,250000000.0,448130642.0,1144337,2701.0,813.0,8.5,164.0,2.35,0.0
4,Star Wars: Episode VII - The Force Awakens,NaN,NaN,Documentary,Doug Walker,Doug Walker,Rob Walker,NaN,NaN,NaN,...,0,NaN,NaN,8,NaN,NaN,7.1,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4911,Signed Sealed Delivered,2013.0,NaN,Comedy|Drama,Scott Smith,Eric Mabius,Daphne Zuniga,Crystal Lowe,Color,Canada,...,84,NaN,NaN,629,6.0,1.0,7.7,87.0,NaN,2.0
4912,The Following,NaN,TV-14,Crime|Drama|Mystery|Thriller,NaN,Natalie Zea,Valorie Curry,Sam Underwood,Color,USA,...,32000,NaN,NaN,73839,359.0,43.0,7.5,43.0,16.00,1.0
4913,A Plague So Pleasant,2013.0,NaN,Drama|Horror|Thriller,Benjamin Roberds,Eva Boehnke,Maxwell Moody,David Chandler,Color,USA,...,16,1400.0,NaN,38,3.0,13.0,6.3,76.0,NaN,0.0
4914,Shanghai Calling,2012.0,PG-13,Comedy|Drama|Romance,Daniel Hsia,Alan Ruck,Daniel Henney,Eliza Coupe,Color,USA,...,660,NaN,10443.0,1255,9.0,14.0,6.3,100.0,2.35,5.0
4915,My Date with Drew,2004.0,PG,Documentary,Jon Gunn,John August,Brian Herzlinger,Jon Gunn,Color,USA,...,456,1100.0,85222.0,4285,84.0,43.0,6.6,90.0,1.85,0.0